# ==========================================
# Global
# ==========================================

HOST_ADDRESS=127.0.0.1

# ==========================================
# GateKeeper
# ==========================================

GATEKEEPER_PORT=3630
ROCKET_ADDRESS=0.0.0.0

# ==========================================
# Orchestrator
# ==========================================

REDIS_ADDRESS=redis://redis/
GAME_SERVER_IMAGE=game-server:latest
MAX_PLAYER_PER_SERVER=5
ORCH_PORT=3631
BROKER_PORT=3632
HOT_SERVERS_MIN=3
HEARTBEAT_INTERVAL=3
SERV_FREQUENCY=60

# ==========================================
# Spatial Server
# ==========================================

SPATIAL_PORT=3634
WORLD_SIZE=1000
QUADTREE_MAX_DEPTH=8
SUBDIVIDE_THRESHOLD=2
MERGE_THRESHOLD=2
MERGE_FREQUENCY=1

# ==========================================
# Postgres Database
# ==========================================

POSTGRES_HOST=postgres
POSTGRES_USER=dev
POSTGRES_PASSWORD=password
POSTGRES_DB=uqac_mmo


# ==========================================
#  Broker
# ==========================================

BROKER_PUBLIC_PORT=3632
BROKER_PRIVATE_PORT=3633
BROKER_URL=127.0.0.1:3633