# ==========================================
# GateKeeper
# ==========================================

GATEKEEPER_ADDRESS=127.0.0.1
GATEKEEPER_PORT=3630

# ==========================================
# Orchestrator
# ==========================================

REDIS_ADDRESS=redis://127.0.0.1/
GAME_SERVER_IMAGE=redis:alpine
MAX_PLAYER_PER_SERVER=5
ORCH_ADDRESS=127.0.0.1
ORCH_PORT=3631
HOT_SERVERS_MIN=3

# ==========================================
# Postgres Database
# ==========================================

POSTGRES_USER=dev
POSTGRES_PASSWORD=password
POSTGRES_DB=uqac_mmo